body {
	margin:0 auto;
	width: 80%;
}

#greet{
	text-align:center;
}

#date{
	margin-top:10px;
	float:left;
	width:30%;
	color:blue;
}

#time{
	margin-top:10px;
	float:right;
	width: 20%;
	color:blue;
}
#refreshbutton{
	margin-top:10px;
	float:left;
}
#weather{
	margin-top:10px;
	left:100%;
}
textarea{
 	float:left;
 	width:30%;
}
#savedNotes{
	float:left;
	position:relative;
	height:150px;
	width:30%;
	overflow: scroll;
}
#clearNotes{
position:relative;
width:20px;
}
#outputbutton{
	width:10%;
}
#calandar{
	float:right;
}