body {
	color:gray;
	margin:0 auto;
	width: 80%;
	background-color:#ffffff;
}
#greet{
	position: relative;
	text-align:center;
}

#date{
	position: relative;
	margin-top:10px;
	float:left;
	width:30%;
}

#time{
	position: relative;
	margin-top:10px;
	float:right;
	width: 20%;
}
#refreshbutton{
	position: relative;
	margin-top:10px;
	float:left;
}
#weather{
	position: relative;
	margin-top:10px;
}
textarea{
 	float:left;
 	position: relative;
 	width:30%;
}
#savedNotes{
	position: absolute;
	top:450px;
	height:150px;
	width:30%;
	overflow: scroll;
}
#clearNotes{
	width:10%;
	position: relative;
	margin-right:40px;
}
#outputbutton{
	width:10%;
	position: relative;
	margin-right:40px;
}
#calandar{
	padding-top:30px;
	position:relative;
	float:right;
}
#savedLinks{
	border: 1px solid grey;
	position:absolute;
	top:600;
	width:30%;
	height:150px;
}

#makelinks{
	top:500px;
	position:relative;
	float:left;
}
#clearlink{
	top:500px;
	position:relative;
	float:left;
}
#stocks{
	top:500px;
	position:relative;
	float:left;
}
#night{
	position: absolute;
	width:10%;
	bottom:30px;
}
